extends layout.pug 
block content
    h1=title
    legend Please enter your ID below and select your role.
    form(method="POST", action="/")
        label(for="ID") ID:
        input#ID(type="text" name="id" required)
        br
        select#role(name="role", required, onchange="choosePage(this)")
            option(value="") &mdash;Please select a role&mdash;
            option(value="student") Student
            option(value="faculty") Faculty
            option(value="registrar") Registrar
        input(type="submit", value="Submit")