extends layout.pug 
<script>
function(changePage){
     
       
}
</script>
block content
    h1= title
    p Welcome to #{title}!

    legend Please enter your ID below and select your role.
    form(method="post", action="/")
    label(for="ID") ID:
    input#ID(type="text" name="id" required)
    br
    select#role(name="role" required)
        option(value="") &mdash;Please select a role&mdash;
        option(value="student.pug") Student
        option(value="faculty.pug") Faculty
        option(value="registrar.pug") Registrar
    br
    input(type="submit", value="Submit")
