extends layout.pug 

block content
    h1= title
    p Welcome to #{title}!

    legend Please enter your ID below and select your role.
    form(method="post", action="/")
    label(for="ID") ID:
    input#ID(type="text" name="id" required)
    br
    select#role(name="role" required)
        option(value="") &mdash;Please select a role&mdash;
        option Student
        option Faculty
        Option Registrar
    br
    input(type="submit", value="Submit" onclick="getID()")
