extends layout.pug 

block content
    h1= title
    p Welcome to #{title}!

    legend Please enter your ID below and select your role.
    form(method="post", action="/")
    label(for="ID") ID:
    input#ID(type="text" name="id")
    input(type="submit", value="Submit" onclick="getID()")
    br
    a:href student.pug
    button Student 
    a:href faculty.pug 
    button Faculty 
    a:href registrar.pug
    button Registrar

should be a role select drop down menu
