extends layout.pug 

block content
    h1= title
    p Welcome to #{title}!

    legend Please enter your ID below and select your role.
    form(method="post", action="/")
    label(for="ID") ID:
    input:text 
    input(type="submit", value="Submit" onclick="getID()")
    br
    a:href student.html
    button Student 
    a:href faculty.html 
    button Faculty 
    a:href registrar.html 
    button Registrar