extends layout.pug
block content 
    if courses 
        table 
            th
                tr 
                    'Course Number'
                    'Course Description'
                    'Course Credit Hours'
                tr 
