extends layout.pug
block content
    h2 #{role}: #{userID}
    p Form data: #{JSON.stringify(formdata)}
    if enrolledCourses.length === 0
        p This student is enrolled in 0 courses 
    else if enrolledCourses.length > 0
        table 
            thead
                tr 
                    th 'Course Number'
                    th 'Term'
                    th 'Year'
                    th(colspan=2) "Instructor"
                    th Grade
            tbody
                each course in enrolledCourses
                    tr
                        each value in Object.values(course)
                            td= value

